/* Importando a tipografia */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Oswald&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    resize: none;
}

/* Variaveis CSS */
:root {
    --fonte_osw: 'Oswald', sans-serif;
    --fonte_ale: 'Alegreya Sans', sans-serif;
    --verde: #3CB371;
    --branco_pastel: #FAF0E6;

}

.alinhamento {
    width: 1440px;
    margin: 0 auto;
}

/* Cabeçalho */
header {
    background-color: var(--verde);
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    width: 150px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 50px;
}

.menu {
    display: flex;
    width: 600px;
    list-style: none;
    justify-content: space-between;
}

.menu a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: var(--fonte_ale);
    font-weight: 800;
}

.menu a:hover {
    border-bottom: 2px solid var(--branco_pastel);
    color: var(--branco_pastel);
}

/* Quem Somos */
main {
    background-color: var(--branco_pastel);
}

h1 {
    position: absolute;
    left: -999em;
    width: 1em;
    overflow: hidden;
}

.quem_somos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px;
}

.primeira_foto {
    width: 700px;
    box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.4);
    border-radius: 70px;
}

.sobre {
    text-align: center;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.sobre_titulo {
    font-family: var(--fonte_osw);
    font-size: 60px;
}

.sobre {
    font-family: var(--fonte_ale);
    font-size: 25px;
}

.btn_esg {
    background-color: var(--verde);
    border-radius: 30px;
    width: 250px;
    height: 60px;
    font-size: 25px;
    box-shadow: 5px 5px 40px 5px rgba(0, 0, 0, 0.4);
}

.btn_esg a {
    text-decoration: none;
    color: black;
}

/* Data de lançamento */
.data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--fonte_osw);
    font-size: 80px;
    color: black;
    background-color: var(--verde);
    padding: 100px;
}

span {
    text-transform: uppercase;
}

/* Imagens */
.imagens {
    background-color: var(--verde);
    padding-bottom: 100px;
}

.imgs {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.imgs>* {
    width: 475px;
    border-radius: 50px;
    box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.4);
}

/* ESG */
.esg {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.sobre_esg {
    text-align: center;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.sobre_esg_titulo {
    font-family: var(--fonte_osw);
    font-size: 60px;
}

.sobre_esg_texto {
    font-family: var(--fonte_ale);
    font-size: 30px;
}

.esg img {
    box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.4);
    border-radius: 70px;
    width: 500px;
}

/* Formulario */

.formulario {
    background-color: var(--verde);
    padding: 100px 0;
}

.formulario_titulo {
    font-family: var(--fonte_osw);
    font-size: 60px;
    color: black;
    text-align: center;
    margin: 15px;
}

form {
    color: black;
    font-family: var(--fonte_ale);
    display: flex;
    gap: 35px;
    flex-direction: column;
}

form>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
}

label {
    font-size: 25px;
}

input {
    height: 35px;
    padding: 25px;
}

textarea {
    padding: 20px;
}

.borda {
    border: 1px solid var(--branco_pastel);
    border-radius: 15px;
}

.btn_forms {
    background: white;
    border-radius: 30px;
    width: 200px;
    height: 60px;
    font-size: 25px;
    color: var(--verde);
    margin: 0 auto;
}

/* Contato */

.mapa {
    width: 580px;
}

.contato {
    padding: 100px 0;
}

.contato_titulo {
    font-family: var(--fonte_osw);
    font-size: 60px;
    text-align: center;
    margin-bottom: 15px;
}

.conteudo_contato {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.borda_mapa {
    border: 5px solid var(--verde);
    width: 700px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato_info {
    font-family: var(--fonte_ale);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info {
    display: flex;
    align-items: center;
    font-size: 28px;
}

.info>i {
    margin-right: 20px;
    color: var(--verde);
}

footer {
    background-color: var(--verde);
    color: black;
    font-family: var(--fonte_ale);
    font-size: 19px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsividade */

/* Largura das telas

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px */

@media screen and (max-width: 1440px) {
    .alinhamento {
        width: 100%;
    }

    nav {
        padding: 0 50px;
    }

    .menu a {
        font-size: 25px;
    }

    .sobre {
        max-width: 500px;
        font-size: 35px;
    }

    .quem_somos {
        padding: 100px 50px;
    }

    .imgs {
        flex-wrap: wrap;
    }

    .sobre_esg_texto {
        font-size: 38px;
    }

    .esg img {
        width: 50%;
    }

    .esg {
        padding: 100px 50px;
    }

    .formulario_texto {
        font-size: 34px;
    }

    .info {
        font-size: 34px;
    }

}

@media screen and (max-width:1200px) {

    .primeira_foto {
        width: 550px;
    }

    .imgs {
        gap: 50px;
    }

    .esg img {
        width: 45%;
    }

    .sobre_esg {
        width: 480px;
    }

    .sobre_esg_texto {
        font-size: 32px;
    }

    .rodape_texto{
        font-size: 30px;
    }

    footer {
        background-color: var(--verde);
        color: black;
        font-family: var(--fonte_ale);
        font-size: 19px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width:900px) {

    .quem_somos {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .sobre {
        margin-top: 30px;
    }

    .imgs {
        gap: 50px
    }

    .data {
        font-size: 85px;
    }

    .esg {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .sobre_esg_texto {
        font-size: 35px;
    }

    .sobre_esg {
        width: 600px;
    }

    .conteudo_contato {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .rodape_texto{
        font-size: 30px;
    }
}

@media screen and (min-width: 900px) {
    #burguer {
        display: none;
    }

}

@media screen and (max-width:768px) {

    #burguer {
        color: black;
        font-size: 55PX;
        display: block;
    }

    #item {
        position: absolute;
        /* viewPort height (vh)*/
        height: 92vh;
        /* viewPort width (vw)*/
        width: 25vh;
        top: 5vh;
        right: 0;
        background-color: var(--verde);
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .menu li {
        padding: 50px;
    }

    .menu {
        display: none;
    }

    .primeira_foto{
        gap: 50px;
    }

    .sobre{
        font-size: 38px;
    }

    .btn_esg{
        font-size: 28px;
    }

    .sobre_esg_texto{
        font-size: 38px;
    }

    .data {
        font-size: 70px;
    }

}

@media screen and (max-width: 580px) {

    .primeira_foto {
        width: 450px;
    }

    .data {
        font-size: 45px;
    }

    .esg img {
        width: 70%;
    }

    .sobre_esg_texto {
        padding: 0 40px;
    }

    .mapa {
        width: 400px;
    }

    .borda_mapa {
        width: 480px;
    }

    .conteudo_contato {
        align-items: center;
        justify-content: center;
    }
}